<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/cookingRecipe.css">
</head>

<body>
<header th:fragment="navbar(pageTitle)" class="navbar-background">
    <ul class="nav d-flex nav-item">
        <li class="icon-link">
            <a class="nav-link nav-link-icon" th:href="@{/recipe/overview}">
            <img th:src="@{/images/company_images/push_to_plate_icon.png}"
                 alt="Logo" width="40" height="40" class="d-inline-block"></a>
        </li>
        <li class="nav-home">
            <a class="nav-link nav-link-company" th:href="@{/recipe/overview}">Push to Plate</a>
        </li>

        <li class="nav-center-group">
            <div class="nav-recipe">
                <a class="nav-link nav-link-recipe" th:href="@{/recipe/overview}">Recipes</a>
            </div>
            <div class="nav-user" sec:authorize="isAuthenticated()">
                <a class="nav-link nav-link-user" th:href="@{/user/overview}">Users</a>
            </div>
        </li>

        <li class="nav-login" sec:authorize="isAnonymous()">
            <a class="nav-link nav-link-login" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-logout" sec:authorize="isAuthenticated()">
            <a class="nav-link nav-link-logout" th:href="@{/logout}">Logout <span sec:authentication="name"></span></a>
        </li>
    </ul>
    <div class="nav-allRecipesTitle">
        <h1 th:text="${pageTitle}"></h1>
    </div>
</header>

<div th:fragment="footer">
    <br/><footer><p class="page-footer text-center text text-muted shadow"> Copyright Cat Overflow &copy;2025</p></footer>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/popper.js/js/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>

</html>