<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div th:fragment="recipeCards(recipes)" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 g-md-3 mt-1">
    <div th:each="recipe : ${recipes}" th:insert="~{:: recipeCard(recipe)}"></div>
</div>

<div th:fragment="recipeCard(recipe)" class="col">
    <div class="card recipe-card"
         th:style="'background-image: url(/images/Examples/' + ${recipe.image.imageName} + ');'">

        <a th:href="@{/recipe/detail/{recipeId}(recipeId = ${recipe.recipeId})}" class="stretched-link"></a>

        <div class="overlay-text">
            <div class="card-footer">
                <div class="card-time-group">
                    <div class="icon-bg-card text-center">
                        <i class="bi-clock-fill icon-img card-icon-img"></i>
                    </div>
                    <span class="card-text-time" th:text="${recipe.totalCookingTime} + ' mins'"></span>
                </div>
            </div>
            <div class="card-header-title">
                <span class="card-title" th:text="${recipe.title}"></span>
            </div>
        </div>
    </div>
</div>

<div th:fragment="recipeForm(formRecipe, allIngredientRecipes, #fields)">
    <form class="row g-3" th:action="@{/recipe/save}" method="post" th:object="${formRecipe}">
        <input type="hidden" th:field="*{recipeId}">
        <div class="row g-3 align-items-center">
            <div class="col-5">
                <label for="title" class="col-form-label">Title</label>
            </div>
            <div class="col-7">
                <input type="text" id="title" class="form-control" aria-describedby="titleHelpInline" th:field="*{title}">
            </div>
            <div class="col-12">
                    <span id="titleHelpInline" class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    </span>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-5">
                <label for="description" class="col-form-label">Description</label>
            </div>
            <div class="col-7">
                <textarea id="description" class="form-control" aria-describedby="descriptionHelpInline" th:field="*{description}"></textarea>
            </div>
            <div class="col-12">
                    <span id="descriptionHelpInline" class="form-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    </span>
            </div>
        </div>
        <button type="reset" class="btn btn-warning btn-sm text-black">Clear</button>
        <button type="submit" class="btn btn-primary btn-sm text-black">Save recipe</button>
    </form>
</div>

<div th:fragment="recipeFormModal(formRecipe, allIngredientRecipes, #fields)"
                 class="modal fade" id="editForm"
                 tabindex="-1"
                 aria-labelledby="editFormModalLabel"
                 aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <h1 class="modal-title text-center" id="editFormModalLabel">Recipe edit form</h1>
            <div class="modal-body">
                <div class="container-fluid">
                    <div th:replace="~{:: recipeForm(${formRecipe}, ${allIngredientRecipes}, ${#fields})}"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:unless="${formModalHidden}">
        new bootstrap.Modal(document.getElementById('editForm'), {}).toggle()
    </script>
</div>
</body>
</html>