<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<body>
<div th:fragment="recipeCards(recipes)" class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 g-md-3 mt-1">
    <div th:each="recipe : ${recipes}" th:insert="~{:: recipeCard(recipe)}"></div>
</div>

<div th:fragment="recipeCard(recipe)" class="col">
    <div class="card recipe-card"
         th:style="'background-image: url(/images/Examples/' + (${recipe.image} != null ? ${recipe.image.imageName} : 'placeholder.png') + ');'">

        <a th:href="@{/recipe/detail/{recipeId}(recipeId = ${recipe.recipeId})}" class="stretched-link"></a>

        <div class="overlay-text">
            <div>
                <div class="card-time-group">
                    <div class="icon-bg-card text-center" style="scale: 60%">
                        <i class="bi-clock-fill icon-img card-icon-img"></i>
                    </div>
                    <span class="card-text-time" th:text="${recipe.totalCookingTime} + ' mins'"></span>
                </div>
                <div class="card-time-group">
                    <div class="icon-bg-card text-center" style="scale: 60%" >
                        <img src="/images/icons/recipe-book.png" class="icon-bg-card text-center" style="scale: 90%">
                    </div>
                    <span class="card-text-time" th:text="${recipe.getDifficultyLabel}"></span>
                </div>
            </div>
            <div class="card-header-title">
                <span class="card-title" th:text="${recipe.title}"></span>
            </div>
        </div>
    </div>
</div>

<!--Detail Page-->

<div th:fragment="recipeDetailImage" class="image-wrapper">
    <div>
        <img class="rounded recipe-image" th:src="'/images/Examples/' + (${recipe.image} != null ? ${recipe.image.imageName} : 'placeholder.png')">>
    </div>
</div>

<div th:fragment="recipeDetailIngredientBox" class="rounded ingredients-box">
    <h3 style="font-weight: bolder; margin-bottom: 1.5rem">Ingredients</h3>
    <div th:each="ingredientRecipe : ${allIngredientRecipes}" class="ingredient-line-container">
        <label th:for="'ingredient-' + ${ingredientRecipe.ingredientRecipeId}"
               style="display: flex; align-items: center; cursor: pointer;">
            <input type="checkbox"
                   th:id="'ingredient-' + ${ingredientRecipe.ingredientRecipeId}"
                   style="margin-right: 8px;">
            <span class="ingredient-line" th:text="${ingredientRecipe}"></span>
        </label>
    </div>
    <div style="margin-bottom: 1rem"></div>
</div>

<div th:fragment="recipeDetailBox" class="rounded recipe-detail-box">
    <div class="three-column-layout" style="padding: 0 60px; margin-block-end: 0">

        <div class="two-column-layout" style="gap: 8px; grid-template-columns: 1fr 2fr; text-wrap: nowrap">
            <div class="icon-bg text-center">
                <i class="bi bi-globe icon-img"></i>
            </div>
            <div>
                <p style="margin-bottom: 0">
                    Cuisine
                </p>
                <p class="header-bolder-accent">
                    French
                </p>
            </div>
        </div>

        <div class="two-column-layout" style="gap: 8px; grid-template-columns: 1fr 2fr">
            <div class="icon-bg text-center">
                <i class="bi-person-fill icon-img"></i>
            </div>
            <div>
                <p style="margin-bottom: 0">
                    Servings
                </p>
                <p class="header-bolder-accent text-nowrap">
                    4 People
                </p>
            </div>
        </div>

        <div class="two-column-layout" style="gap: 8px; grid-template-columns: 1fr 2fr;">
            <div class="icon-bg text-center">
                <i class="bi-clock-fill icon-img"></i>
            </div>
            <div>
                <p class="text-nowrap" style="margin-bottom: 0">
                    Cook Time
                </p>
                <p class="header-bolder-accent text-nowrap">
                    160 Minutes
                </p>
            </div>
        </div>
    </div>

    <h2 class="text-center" style="color: #883531; text-transform: uppercase; font-weight: bolder" th:text="*{recipe.title}"></h2>
    <p class="text-center" style="margin-bottom: 5px" th:text="*{recipe.summary}"></p>
    <a href="#description" class="text-center" style="margin-bottom: 1rem">Read more</a>
    <p class="text-center align-bottom">Uploaded by username</p>
</div>

<div th:fragment="recipeDetailInstructionsBox">
    <h2 class="instructions-box rounded"
        style="font-weight: bolder">Instructions</h2>
    <div class="step-box rounded" th:each="instruction, iterStat  : ${allInstructions}">
        <div>
            <h3 style="font-weight: bolder; color: black" th:text="'Step ' + ${iterStat.index + 1}"></h3>
            <p th:text="${instruction.description}"></p>
        </div>

        <img style="height: 250px" th:src="'/images/Examples/' + ${instruction.image.getImageName()}" alt="step image">
    </div>
</div>

<div th:fragment="recipeDetailDescriptionBox">
    <div id="description" class="rounded recipe-detail-box">
        <h2 style="font-weight: bolder">Description</h2>
        <p th:text="*{recipe.description}"></p>
    </div>
</div>

<!--Form-->

<div th:fragment="recipeForm(formRecipe, allIngredientRecipes, #fields)">
    <form class="row g-3" th:action="@{/recipe/save}" method="post" th:object="${formRecipe}">
        <input type="hidden" th:field="*{recipeId}">
        <h4 class="mt-4">Basic Info</h4>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="title" class="col-form-label">Title</label>
                </div>
                <div class="col-9">
                    <input type="text" id="title" class="form-control" aria-describedby="titleHelpInline" th:field="*{title}">
                </div>
                <div class="col-12">
                    <span id="titleHelpInline" class="form-text" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="summary" class="col-form-label">Summary</label>
                </div>
                <div class="col-9">
                    <textarea id="summary" class="form-control" aria-describedby="summaryHelpInline" th:field="*{summary}"></textarea>
                </div>
                <div class="col-12">
                    <span id="summaryHelpInline" class="form-text" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"></span>
                </div>
            </div>
        <h4 class="mt-4">Portion & Timing</h4>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="portionQuantity" class="col-form-label">Portion</label>
                </div>
                <div class="col-3 ">
                    <div class="row">
                        <div class="col-6">
                            <input id="portionQuantity" class="form-control" aria-describedby="portionQuantityHelpInline" th:field="*{portionQuantity}"></input>
                        </div>
                        <div class="col-6">
                            <input id="portionUnit" class="form-control" aria-describedby="portionUnitHelpInline" th:field="*{portionUnit}" placeholder="servings"></input>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <span id="portionQuantityHelpInline" class="form-text" th:if="${#fields.hasErrors('portionQuantity')}" th:errors="*{portionQuantity}"></span>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="totalCookingTime" class="col-form-label">Total cooking time (minutes)</label>
                </div>
                <div class="col-3">
                    <input id="totalCookingTime" class="form-control" aria-describedby="totalCookingTimeHelpInline" th:field="*{totalCookingTime}"></input>
                </div>
                <div class="col-12">
                    <span id="totalCookingTimeHelpInline" class="form-text" th:if="${#fields.hasErrors('totalCookingTime')}" th:errors="*{totalCookingTime}"></span>
                </div>
            </div>
        <h4 class="mt-4">Content</h4>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="ingredients" class="col-form-label">Ingredients</label>
                </div>
                <div class="col-3">
                    <input id="ingredients" class="form-control" aria-describedby="ingredientsHelpInline" th:field="*{ingredients}"></input>
                </div>
                <div class="col-12">
                    <span id="ingredientsHelpInline" class="form-text" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></span>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="instructions" class="col-form-label">Instructions</label>
                </div>
                <div class="col-9">
                    <textarea id="instructions" class="form-control" aria-describedby="instructionsHelpInline" th:field="*{instructions}"></textarea>
                </div>
                <div class="col-12">
                    <span id="instructionsHelpInline" class="form-text" th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}"></span>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-3">
                    <label for="description" class="col-form-label">Description</label>
                </div>
                <div class="col-9">
                    <textarea id="description" class="form-control" aria-describedby="descriptionHelpInline" th:field="*{description}"></textarea>
                </div>
                <div class="col-12">
                    <span id="descriptionHelpInline" class="form-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
            </div>
        <div class="modal-button-group">
            <button type="button" class="clear-text-btn btn btn-warning">Clear text</button>
            <button type="submit" class="save-text-btn btn btn-primary">Save recipe</button>
        </div>
    </form>
</div>

<div th:fragment="recipeFormModal(formRecipe, allIngredientRecipes, #fields)"
                 class="modal fade" id="editForm"
                 tabindex="-1"
                 aria-labelledby="editFormModalLabel"
                 aria-hidden="true">

    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <h1 class="modal-title text-center" id="editFormModalLabel">New Recipe</h1>
            <div class="modal-body">
                <div class="container-fluid">
                    <div th:replace="~{:: recipeForm(${formRecipe}, ${allIngredientRecipes}, ${#fields})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:unless="${formModalHidden}">
    new bootstrap.Modal(document.getElementById('editForm'), {}).toggle()
</script>

</body>
</html>