<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="user(user)" class="table">

    <div th:fragment="userTable(users)">
        <table class="table table-striped table-dark table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iterStat : ${users}">
                <th scope="row" th:text="${iterStat.index + 1}">1</th>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.status}">Status</td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

</body>
</html>