<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="userTable(users)" class="table table-striped">
    <div th:each="user : ${users}" th:insert="~{:: user(user)}"></div>
</div>

<div th:fragment="user(user)" class="table">
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>email@email.com</td>
            <td>User</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Otto</td>
            <td>email@email.com</td>
            <td>User</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ina</td>
            <td>email@email.com</td>
            <td>Admin</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>