<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title th:text="${recipe.title}"></title>
</head>

<body>
<div th:replace="~{fragments/general :: navbar(${recipe.title})}"></div>

<main >
<!--  th:object="${recipe}"-->
  <div class="wrapper">
    <div th:replace="~{fragments/recipe :: recipeDetailImage}"></div>

    <div class="two-column-layout">
      <div>
        <div th:replace="~{fragments/recipe :: recipeDetailIngredientBox}"></div>
        <div th:replace="~{fragments/recipe :: recipeDetailDescriptionBox}"></div>
      </div>

      <div>
        <div th:replace="~{fragments/recipe :: recipeDetailBox}"></div>
        <div th:replace="~{fragments/recipe :: recipeDetailInstructionsBox}"></div>
      </div>
    </div>
  </div>
</main>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>