<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title>Recipe Overview</title>
</head>

<body class="primary-bg">
<div th:replace="~{fragments/general :: navbar('Recipe Detail Page')}"></div>

<main th:object="${recipe}">
  <div class="wrapper">
    <div class="two-column-layout">
      <div class="image-wrapper">
        <img class="rounded recipe-image" th:src="'/images/Examples/' + ${recipe.image.getImageName()}">
      </div>
      <div class="rounded recipe-detail-box">
        <h2 class="text-center" style="color: #883531; text-transform: uppercase; font-weight: bolder" th:text="*{title}"></h2>
        <p class="text-center" th:text="*{summary}"></p>

        <div class="three-column-layout" style="padding: 0 60px; margin-block-end: 0">

          <div class="two-column-layout" style="gap: 8px; grid-template-columns: 1fr 2fr; text-wrap: nowrap">
            <div class="icon-bg text-center">
              <i class="bi bi-globe icon-img"></i>
            </div>
            <div>
              <p style="margin-bottom: 0">
                Cuisine
              </p>
              <p class="header-bolder-accent">
                French
              </p>
            </div>
          </div>

          <div class="two-column-layout" style="gap: 8px; grid-template-columns: 1fr 2fr">
            <div class="icon-bg text-center">
              <i class="bi-person-fill icon-img"></i>
            </div>
            <div>
              <p style="margin-bottom: 0">
                Servings
              </p>
              <p class="header-bolder-accent text-nowrap">
                4 People
              </p>
            </div>
          </div>

          <div class="two-column-layout" style="gap: 8px; grid-template-columns: 1fr 2fr;">
            <div class="icon-bg text-center">
              <i class="bi-clock-fill icon-img"></i>
            </div>
            <div>
              <p class="text-nowrap" style="margin-bottom: 0">
                Cook Time
              </p>
              <p class="header-bolder-accent text-nowrap">
                160 Minutes
              </p>
            </div>
          </div>

        </div>
        <p th:text="*{description}"></p>
        <p class="text-center align-bottom">Uploaded by username</p>
        </div>
    </div>

    <div class="two-column-layout bottom-section">
      <div class="rounded ingredients-box">
        <h3 style="font-weight: bolder; margin-bottom: 1.5rem">Ingredients</h3>
        <div style="margin-bottom: 0.5rem" th:each="ingredientRecipe : ${allIngredientRecipes}">
          <i class="bi-play-fill"></i>
          <i>
            <span style="font-weight: bolder">
              <span th:text="${ingredientRecipe.quantity}"></span>
              <span th:text="${ingredientRecipe.ingredientUnit}"></span>
            </span>
            <span th:text="${ingredientRecipe.ingredient.ingredientName}"></span>
            <span th:text="${ingredientRecipe.notes}"></span>
          </i>
        </div>
        <div style="margin-bottom: 1rem"></div>
      </div>

      <div>
        <h2 class="instructions-box rounded"
            style="font-weight: bolder; color: black">cooking <span style="color: #F2A756">instructions</span></h2>

        <div class="step-box rounded" th:each="instruction, iterStat  : ${allInstructions}">
          <div>
            <h3 style="font-weight: bolder; color: black" th:text="'Step ' + ${iterStat.index + 1}"></h3>
            <p th:text="${instruction.description}"></p>
          </div>

          <img style="height: 250px" th:src="'/images/Examples/' + ${instruction.image.getImageName()}" alt="step image">
        </div>
      </div>

    </div>
  </div>
</main>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>